/*! normalize */
*{
	font-family: Arial;
}

.container{
	width: 700px;
	margin: 0 auto;
}
.btn {
	border-top: 1px solid #96d1f8;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
	border: none;
	cursor: pointer;
	padding: 7px 10px;

	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;

	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);

	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	        box-shadow: rgba(0,0,0,1) 0 1px 0;
}
	.btn:hover {
	   border-top-color: #28597a;
	   background: #28597a;
	   color: #ccc;
	}
	.btn:active {
	   border-top-color: #1b435e;
	   background: #1b435e;
	}

/*! header */
header{
	text-align: center;
}

/*! form */
.form-log{
	margin: 10px auto 30px;
	text-align: center;
}
	.form-log input, select{
		border: 1px solid gray;
		height: 31px;
		padding: 0 5px;
		margin: 0;
		-webkit-border-radius: 5px;
		   -moz-border-radius: 5px;
		        border-radius: 5px;
	}
	.form-log select{
		height: 33px;
	}
	.form-log .error{
		border-color: red;
	}

/*! table */
.table-striped{
	width: 100%;
	border-collapse: collapse;
}
	.table-striped, .table-striped th, .table-striped td{
		border: 1px solid gray;
	}
	.table-striped th{
		padding: 7px 0;
		background-color: #eee;
	}
	.table-striped td{
		padding: 3px 10px;
	}
	.table-striped tr:nth-child(even) td {background: #F7F7F7}
	.table-striped td .remover {
		float: right;
		text-decoration: none;
		background-color: red;
		color: #FFF;
		padding: 0 7px;
		font-size: 16px;
		visibility: hidden;

		-webkit-border-radius: 10px;
		   -moz-border-radius: 10px;
		        border-radius: 10px;
	}
	.table-striped tr:hover td .remover{
		visibility: visible;
	}

/*! text */
.result{
	text-align: center;
}