<!doctype html>
<html ng-app>
<head>
    <title>Log de Exercícios - Codeminer42</title>
    
    <meta charset="utf-8">

    <link rel="stylesheet" href="css/style.css">
    
    <script src="js/lib/jquery-1.11.1.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/jquery.maskedinput.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
    <div class="container" ng-controller="LogController">
        <header>
            <h1>Log de Exercícios</h1>
        </header>

        <form class="form-log" name="formItem">
            <fieldset>
                <legend>Adicionar exercício</legend>
                <input id="tempo" type="text" ng-model="item.tempo" placeholder="Tempo" autofocus>
                
                <select id="tipo" ng-model="item.tipo">
                    <option value="Corrida">Corrida</option>
                    <option value="Natação">Natação</option>
                    <option value="Bicicleta">Bicicleta</option>
                </select>

                <input id="data" type="text" ng-model="item.data" placeholder="  /  /  ">
                
                <button class="btn" ng-click="logItem()">Add</button>
            </fieldset>
        </form>

        <table id="lista-exercicios" class="table-striped">
            <thead>
                <tr>
                    <th>Tempo</th>
                    <th>Tipo</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itens">
                    <td><strong>{{ item.tempo }}</strong></td>
                    <td>{{ item.tipo }}</td>
                    <td>
                        {{ item.data }}
                        <a href="#" class="remover" ng-click="removeItem(item)">-</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 class="result">Você já fez {{ horas }} horas de exercícios</h2>
    </div>
</body>
</html>